@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lexend:wght@400;500&family=Nunito:ital@0;1&display=swap');

/* @font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('/fonts/Gilroy/Gilroy-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
    url('/fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
    url('/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('/fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
    url('/fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */
